@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
  text-align: center;
  font-size: 20px;
  color: #F1F0EB;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  ;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
  line-height: 1.25;
  font-weight: 900;
  text-align: left;
}

@media (max-width:900px){
  h1{
  font-size:1.75rem;
  text-align: center; } 
}

/* navbar*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  width: 80px;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  margin-top:24px;
  padding:0;

}


/* Oscars */
div.oscars {
  background: #1c1d1f;
  padding-top: 3rem;
}

div.oscars h2 {
  text-align: left;
}

div.oscars h3 {
  text-align: right;

}div.oscars p {
font-size: 1rem;
}

/* series */

div.series{
  color:black;
}


/* Footer */
footer {
  padding: 10px 15%;
}

div.logo-e-copyright {
  padding: 8px 15% 8px;
  text-align: justify;
}

div.footer-section {
  background: #1c1d1f;
  border-top: 1px solid #3e4143;
}

p.copymsg {
  font-family: 'Nunito', sans-serif;
  font-size: 0.75rem;
  text-align: center;
}


h4 {
  font-family: 'Lobster';
  font-weight: bold;
}

/* bootrstrap */

#titulo {
  background-color: #6320EE;
}

.container-fluid {
  padding: 0 15%;
}

.logo {
  width: 80px;
  margin: 0;
  padding: 0;
}

.seta-carousel {
  color: black;
}

/* pagina equipe */

.intro-blessed {
  background-color: white;
  padding: 3% 10%;
}


.intro-blessed h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: black;
}

.intro-blessed p {
  color: #8f8f8f;
}

/* Icones fontawesome */
.div-icones {
  padding: 4.5%;
}

.icone {
  color: rgb(141, 90, 241);
  margin-bottom: 1rem;
}

.icone:hover {
  color: #6320EE;

}

